<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionstrings>
    <add name="MLMS" connectionstring="Server=.;Database=MLMS;User Id=Manager;Password=1113;" providerName="System.Data.sqlClient"/>
    <add name="MLMS" connectionstring="Server=.;Database=MLMS;User Id=Associate;Password=1112;" providerName="System.Data.sqlClient"/>
    <add name="MLMS" connectionstring="Server=.;Database=MLMS;User Id=Owner;Password=1111;" providerName="System.Data.sqlClient"/>
    </connectionstrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>